
h1 {
  font-size: 2em;
  padding-top: 0.5em;
  text-align: center;
  color: #555;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5 {
  font-size: 1em;
  text-align: center;
  color: #999;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}       
           
