---
layout: default
title: GFX Caffeinist Blog
---

<h2>Posts</h2>
{% for page in site.posts %}
    <article>
      <header>
        <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
        <p>
            {% if page.author %}
                {{ page.author }} 
            {% endif %}
            
            {% if page.date %}
                <time datetime="{{ page.date | date_to_xmlschema }}">
                    <em>{{ page.date | date: "%b %-d, %Y" }}</em>
                </time>
            {% endif %}
            
          </p>
      </header>
      <div>
{{ page.excerpt }}
      </div>
    </article>
{% endfor %}
